In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("fifa21_raw_data.csv")
df.shape

C:\Users\HP\AppData\Local\Temp\ipykernel_2424\1336380609.py:1: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("fifa21_raw_data.csv")

(18979, 77)

In [3]:
df.iloc[:5, :15]

,photoUrl,LongName,playerUrl,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,ID,Height,Weight,foot,BOV
0,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel Messi,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,RW ST CF,L. Messi,33,93,93,\n\n\n\nFC Barcelona\n2004 ~ 2021\n\n,158023,"5'7""",159lbs,Left,93
1,https://cdn.sofifa.com/players/020/801/21_60.png,C. Ronaldo dos Santos Aveiro,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,ST LW,Cristiano Ronaldo,35,92,92,\n\n\n\nJuventus\n2018 ~ 2022\n\n,20801,"6'2""",183lbs,Right,92
2,https://cdn.sofifa.com/players/200/389/21_60.png,Jan Oblak,http://sofifa.com/player/200389/jan-oblak/210005/,Slovenia,GK,J. Oblak,27,91,93,\n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n,200389,"6'2""",192lbs,Right,91
3,https://cdn.sofifa.com/players/192/985/21_60.png,Kevin De Bruyne,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,CAM CM,K. De Bruyne,29,91,91,\n\n\n\nManchester City\n2015 ~ 2023\n\n,192985,"5'11""",154lbs,Right,91
4,https://cdn.sofifa.com/players/190/871/21_60.png,Neymar da Silva Santos Jr.,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,LW CAM,Neymar Jr,28,91,91,\n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n,190871,"5'9""",150lbs,Right,91

In [4]:
df.iloc[:5, 15:30]

,BP,Growth,Joined,Loan Date End,Value,Wage,Release Clause,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling
0,RW,0,"Jul 1, 2004",NaN,€67.5M,€560K,€138.4M,429,85,95,70,91,88,470,96
1,ST,0,"Jul 10, 2018",NaN,€46M,€220K,€75.9M,437,84,95,90,82,86,414,88
2,GK,2,"Jul 16, 2014",NaN,€75M,€125K,€159.4M,95,13,11,15,43,13,109,12
3,CAM,0,"Aug 30, 2015",NaN,€87M,€370K,€161M,407,94,82,55,94,82,441,88
4,LW,0,"Aug 3, 2017",NaN,€90M,€270K,€166.5M,408,85,87,62,87,87,448,95

In [5]:
df.iloc[:5, 30:45]

,Curve,FK Accuracy,Long Passing,Ball Control,Movement,Acceleration,Sprint Speed,Agility,Reactions,Balance,Power,Shot Power,Jumping,Stamina,Strength
0,93,94,91,96,451,91,80,91,94,95,389,86,68,72,69
1,81,76,77,92,431,87,91,87,95,71,444,94,95,84,78
2,13,14,40,30,307,43,60,67,88,49,268,59,78,41,78
3,85,83,93,92,398,77,76,78,91,76,408,91,63,89,74
4,88,89,81,95,453,94,89,96,91,83,357,80,62,81,50

In [6]:
df.iloc[:5, 45:60]

,Long Shots,Mentality,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Defending,Marking,Standing Tackle,Sliding Tackle,Goalkeeping,GK Diving,GK Handling
0,94,347,44,40,93,95,75,96,91,32,35,24,54,6,11
1,93,353,63,29,95,82,84,95,84,28,32,24,58,7,11
2,12,140,34,19,11,65,11,68,57,27,12,18,437,87,92
3,91,408,76,66,88,94,84,91,186,68,65,53,56,15,13
4,84,356,51,36,87,90,92,93,94,35,30,29,59,9,9

In [7]:
df.iloc[:5, 60:]

,GK Kicking,GK Positioning,GK Reflexes,Total Stats,Base Stats,W/F,SM,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,15,14,8,2231,466,4 ★,4★,Medium,Low,5 ★,85,92,91,95,38,65,\n372
1,15,14,11,2221,464,4 ★,5★,High,Low,5 ★,89,93,81,89,35,77,\n344
2,78,90,90,1413,489,3 ★,1★,Medium,Medium,3 ★,87,92,78,90,52,90,\n86
3,5,10,13,2304,485,5 ★,4★,High,High,4 ★,76,86,93,88,64,78,\n163
4,15,15,11,2175,451,5 ★,5★,High,Medium,5 ★,91,85,86,94,36,59,\n273

## Order issues

#### Getting rid of some columns

In [8]:
df = df.drop(columns=["photoUrl", "playerUrl"])
df.shape

(18979, 75)

In [9]:
df.columns

Index(['LongName', 'Nationality', 'Positions', 'Name', 'Age', '↓OVA', 'POT',
       'Team & Contract', 'ID', 'Height', 'Weight', 'foot', 'BOV', 'BP',
       'Growth', 'Joined', 'Loan Date End', 'Value', 'Wage', 'Release Clause',
       'Attacking', 'Crossing', 'Finishing', 'Heading Accuracy',
       'Short Passing', 'Volleys', 'Skill', 'Dribbling', 'Curve',
       'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement',
       'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance',
       'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots',
       'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle',
       'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling',
       'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Total Stats',
       'Base Stats', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'PAC', 'SHO', 'PAS',
       'DRI', 'DEF', 'PHY', 'Hits'],
      dtype='object')

#### Looking for duplicated rows

In [10]:
df[df.LongName.duplicated()]

,LongName,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,ID,Height,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
944,Kevin Berlaso,Ecuador,RB,K. Berlaso,32,77,77,\n Ecuador\nFree\n\n,251698,"5'8""",...,High,Medium,2 ★,78,56,69,77,72,68,\n12
1187,Lisandro López,Argentina,CB,L. López,30,76,76,\n\n\n\nBoca Juniors\n2020 ~ 2023\n\n,215051,"6'2""",...,Medium,High,3 ★,62,51,50,61,77,74,\n7
2516,Gonzalo Castro,Germany,CM LB,G. Castro,33,73,73,\n\n\n\nVfB Stuttgart\n2018 ~ 2021\n\n,167431,"5'8""",...,Medium,Medium,2 ★,55,67,75,74,67,63,\n15
2562,Ben Davies,England,CB,B. Davies,24,73,79,\n\n\n\nPreston North End\n2013 ~ 2021\n\n,213017,"6'1""",...,Medium,Medium,1 ★,74,39,58,63,75,75,\n38
2955,Claudio Bravo,Argentina,LB,C. Bravo,23,73,82,\n\n\n\nClub Atlético Banfield\n2016 ~ 2021\n\n,232646,"5'7""",...,Medium,Medium,1 ★,74,50,64,73,71,65,\n40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18703,Yuan Zhang,China PR,CM,Zhang Yuan,23,51,56,\n\n\n\nShenzhen FC\n2020 ~ 2023\n\n,241341,"6'0""",...,Medium,Medium,1 ★,73,45,48,56,50,59,2
18741,Alfie Jones,England,GK,A. Jones,19,50,66,\n\n\n\nCrawley Town\n2019 ~ 2021\n\n,243202,"6'1""",...,Medium,Medium,1 ★,56,48,45,52,22,44,3
18813,Joe Wright,England,GK,J. Wright,19,50,64,\n\n\n\nMillwall\n2019 ~ 2024\n\n,251563,"6'1""",...,Medium,Medium,1 ★,53,54,47,48,18,46,1
18834,Mark Byrne,Republic of Ireland,CAM LW RW,M. Byrne,19,50,65,\n\n\n\nSligo Rovers\n2020 ~ 2020\n\n,255948,"5'10""",...,High,Medium,1 ★,60,36,53,50,37,50,1
18909,Wei Zhang,China PR,RM RW,Zhang Wei,20,49,57,\n\n\n\nHebei China Fortune FC\n2019 ~ 2024\n\n,252332,"6'1""",...,Medium,Medium,1 ★,57,38,47,48,48,51,1

In [11]:
df.query("LongName == 'Claudio Bravo'")

,LongName,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,ID,Height,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
1127,Claudio Bravo,Chile,GK,C. Bravo,37,77,77,\n\n\n\nReal Betis\n2020 ~ 2022\n\n,174543,"6'0""",...,Medium,Medium,3 ★,77,76,84,77,56,75,\n34
2955,Claudio Bravo,Argentina,LB,C. Bravo,23,73,82,\n\n\n\nClub Atlético Banfield\n2016 ~ 2021\n\n,232646,"5'7""",...,Medium,Medium,1 ★,74,50,64,73,71,65,\n40

In [12]:
df[df.duplicated()]

,LongName,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,ID,Height,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
944,Kevin Berlaso,Ecuador,RB,K. Berlaso,32,77,77,\n Ecuador\nFree\n\n,251698,"5'8""",...,High,Medium,2 ★,78,56,69,77,72,68,\n12

In [13]:
df[df.ID.duplicated()]

,LongName,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,ID,Height,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
944,Kevin Berlaso,Ecuador,RB,K. Berlaso,32,77,77,\n Ecuador\nFree\n\n,251698,"5'8""",...,High,Medium,2 ★,78,56,69,77,72,68,\n12

In [14]:
df = df[~df.duplicated()]
df.index = range(len(df))
df[df.duplicated()]

Empty DataFrame
Columns: [LongName, Nationality, Positions, Name, Age, ↓OVA, POT, Team & Contract, ID, Height, Weight, foot, BOV, BP, Growth, Joined, Loan Date End, Value, Wage, Release Clause, Attacking, Crossing, Finishing, Heading Accuracy, Short Passing, Volleys, Skill, Dribbling, Curve, FK Accuracy, Long Passing, Ball Control, Movement, Acceleration, Sprint Speed, Agility, Reactions, Balance, Power, Shot Power, Jumping, Stamina, Strength, Long Shots, Mentality, Aggression, Interceptions, Positioning, Vision, Penalties, Composure, Defending, Marking, Standing Tackle, Sliding Tackle, Goalkeeping, GK Diving, GK Handling, GK Kicking, GK Positioning, GK Reflexes, Total Stats, Base Stats, W/F, SM, A/W, D/W, IR, PAC, SHO, PAS, DRI, DEF, PHY, Hits]
Index: []

[0 rows x 75 columns]

#### _Team & Contract_ column

Contains 3 variables instead of one : *Club*, *starting date of contract* and *end date of contract*. Let's split it and create appropriate columns.

By inspecting that column, we can see that there are 3 situations with that column:

1. The player doesn't belong to any club, so he's **free**
2. The player is attached to a certain club but he's **on loan**; in this case the column only has the loan date end
3. The player is attached to a certain club and he's not on loan; in this case the column has both the contract date start and the contract date end

We define a function based on regular expression to retrieve all those informations:

In [15]:
import re

In [16]:
def f(contract):
    """
    this function takes a string 'contract' and returns :
        * two years (start and end of contract) if the player is attached to a club and not on loan
        * the end of contract year if the player is attached to a club but on loan
        * nothing if the player is free
    """
    if "Free" in contract:
        return
    
    club = re.findall(r'\n\n\n\n(.*?)\n', contract)[0]
    if "On Loan" in contract:
        end_date = re \
               .findall("\d{4} On Loan", contract)[0] \
               .split("On Loan")[0] 
        end_date = int(end_date)
        return club, end_date
    
    start_date, end_date = re \
                 .findall('\d{4} ~ \d{4}', contract)[0] \
                 .split(" ~ ")
    start_date, end_date = int(start_date), int(end_date)
    return club, start_date, end_date

In [17]:
f("\n\n\n\nTSG 1899 Hoffenheim\n2015 ~ 2022\n\n")

('TSG 1899 Hoffenheim', 2015, 2022)

In [18]:
df["Club"], df["Start_contract_date"], df["End_contract_date"] = None, None, None
for i in range(len(df)):
    res = f(df.loc[i, "Team & Contract"])
    if not res:
        continue
    df.loc[i, "Club"] = res[0]
    if len(res) == 2:
        df.loc[i, "End_contract_date"] = res[1]
    else: # i.e len(res) == 3:
        df.loc[i, "Start_contract_date"] = res[1]
        df.loc[i, "End_contract_date"] = res[2]

In [19]:
df.sample(10, random_state=43)

,LongName,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,ID,Height,...,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Club,Start_contract_date,End_contract_date
11219,Pascal Sohm,Germany,ST RM LM,P. Sohm,28,64,64,\n\n\n\nSG Dynamo Dresden\n2020 ~ 2022\n\n,238686,"6'2""",...,77,62,58,64,25,71,\n2,SG Dynamo Dresden,2020,2022
11171,Bryan Olivera,Uruguay,CAM,B. Olivera,26,64,67,\n\n\n\nCentro Atlético Fénix\n2020 ~ 2022\n\n,253265,"5'7""",...,71,64,59,65,36,58,\n3,Centro Atlético Fénix,2020,2022
28,Jadon Sancho,England,RM LM CAM,J. Sancho,20,87,93,\n\n\n\nBorussia Dortmund\n2017 ~ 2023\n\n,233049,"5'11""",...,83,74,81,91,37,64,\n663,Borussia Dortmund,2017,2023
6304,Declan Rudd,England,GK,D. Rudd,29,69,71,\n\n\n\nPreston North End\n2017 ~ 2023\n\n,188657,"6'3""",...,72,62,64,73,50,65,\n7,Preston North End,2017,2023
5145,Leonardo Lopes de Souza,Brazil,ST,Leonardo,23,70,75,\n\n\n\nUrawa Red Diamonds\n2020 ~ 2023\n\n,254894,"5'11""",...,69,72,56,67,31,63,\n5,Urawa Red Diamonds,2020,2023
5433,Johann Obiang,Gabon,LB LWB,J. Obiang,26,69,70,\n\n\n\nRodez Aveyron Football\n2020 ~ 2025\n\n,212483,"5'7""",...,79,52,61,68,64,51,\n3,Rodez Aveyron Football,2020,2025
14327,Kurtis Guthrie,England,ST,K. Guthrie,27,61,62,\n\n\n\nBradford City\n2020 ~ 2021\n\n,204915,"6'3""",...,68,61,51,62,41,67,\n5,Bradford City,2020,2021
8666,Louka Prip,Denmark,RM,L. Prip,23,66,72,\n\n\n\nAC Horsens\n2019 ~ 2022\n\n,247086,"6'0""",...,76,59,63,67,42,64,\n1,AC Horsens,2019,2022
8925,Víctor Álvarez Rozada,Spain,RM,Viti Rozada,22,66,74,\n\n\n\nReal Oviedo\n2015 ~ 2022\n\n,234350,"5'7""",...,86,62,57,67,44,64,\n4,Real Oviedo,2015,2022
12124,Jeong Su Park,Korea Republic,CB CDM,Park Jeong Su,26,63,67,"\n\n\n\nSagan Tosu\nJan 31, 2021 On Loan\n\n",232746,"6'2""",...,62,32,48,55,60,71,\n2,Sagan Tosu,None,2021

We can now delete the _Team & Contract_ column:

In [20]:
del df['Team & Contract']

In [21]:
df.shape

(18978, 77)

## Quality issues

#### Any missing value?

In [22]:
df.isnull().any().sum()

4

#### Looking for Non-valid Data and Inconsistent Data

1. The **Height** column is of type *str* instead of float
2. The **Weight** column is of type *str* instead of float
3. The **Joined** column is of type *str* instead of *datetime*

In [52]:
excep = []
for val in df.Value:
    try:
        assert "€" in val and "M" in val
    except:
        excep.append(val)
print(len(excep))

12192

In [23]:
df.iloc[:3, :15]

,LongName,Nationality,Positions,Name,Age,↓OVA,POT,ID,Height,Weight,foot,BOV,BP,Growth,Joined
0,Lionel Messi,Argentina,RW ST CF,L. Messi,33,93,93,158023,"5'7""",159lbs,Left,93,RW,0,"Jul 1, 2004"
1,C. Ronaldo dos Santos Aveiro,Portugal,ST LW,Cristiano Ronaldo,35,92,92,20801,"6'2""",183lbs,Right,92,ST,0,"Jul 10, 2018"
2,Jan Oblak,Slovenia,GK,J. Oblak,27,91,93,200389,"6'2""",192lbs,Right,91,GK,2,"Jul 16, 2014"

In [24]:
df.iloc[:3, 15:30]

,Loan Date End,Value,Wage,Release Clause,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling,Curve,FK Accuracy,Long Passing
0,NaN,€67.5M,€560K,€138.4M,429,85,95,70,91,88,470,96,93,94,91
1,NaN,€46M,€220K,€75.9M,437,84,95,90,82,86,414,88,81,76,77
2,NaN,€75M,€125K,€159.4M,95,13,11,15,43,13,109,12,13,14,40

4. The **Value** column is of type *str* instead of *float*; also there's a player valued in *€K* while others are valued in *€M*
5. The **Wage** column is of type *str* instead of *float*; also there's a player whose wage is *€500* while others are payed in *K€*
6. The **Release Clause** column is of type *str* instead of *float*; also there's a player having a release clause in *€K* while others are valued in *€M*

In [53]:
excep = []
for val in df.Wage:
    try:
        assert "€" in val and "K" in val
    except:
        excep.append(val)
print(len(excep))

4154

In [55]:
excep = []
for val in df['Release Clause']:
    try:
        assert "€" in val and "M" in val
    except:
        excep.append(val)
print(len(excep))

9349

In [25]:
df.iloc[:3, 30:45]

,Ball Control,Movement,Acceleration,Sprint Speed,Agility,Reactions,Balance,Power,Shot Power,Jumping,Stamina,Strength,Long Shots,Mentality,Aggression
0,96,451,91,80,91,94,95,389,86,68,72,69,94,347,44
1,92,431,87,91,87,95,71,444,94,95,84,78,93,353,63
2,30,307,43,60,67,88,49,268,59,78,41,78,12,140,34

In [26]:
df.iloc[:3, 45:60]

,Interceptions,Positioning,Vision,Penalties,Composure,Defending,Marking,Standing Tackle,Sliding Tackle,Goalkeeping,GK Diving,GK Handling,GK Kicking,GK Positioning,GK Reflexes
0,40,93,95,75,96,91,32,35,24,54,6,11,15,14,8
1,29,95,82,84,95,84,28,32,24,58,7,11,15,14,11
2,19,11,65,11,68,57,27,12,18,437,87,92,78,90,90

In [27]:
df.iloc[:3, 60:]

,Total Stats,Base Stats,W/F,SM,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Club,Start_contract_date,End_contract_date
0,2231,466,4 ★,4★,Medium,Low,5 ★,85,92,91,95,38,65,\n372,FC Barcelona,2004,2021
1,2221,464,4 ★,5★,High,Low,5 ★,89,93,81,89,35,77,\n344,Juventus,2018,2022
2,1413,489,3 ★,1★,Medium,Medium,3 ★,87,92,78,90,52,90,\n86,Atlético Madrid,2014,2023

In [43]:
df["W/F"].value_counts()

3 ★    11694
2 ★     4141
4 ★     2722
5 ★      283
1 ★      138
Name: W/F, dtype: int64

In [44]:
df["SM"].value_counts()

2★    9142
3★    6576
1★    2075
4★    1130
5★      55
Name: SM, dtype: int64

In [45]:
df["IR"].value_counts()

1 ★    17628
2 ★     1018
3 ★      281
4 ★       45
5 ★        6
Name: IR, dtype: int64

In [46]:
df["Hits"].value_counts()

\n1      3216
\n2      2453
\n3      1774
\n4      1236
1        1105
         ...
\n194       1
\n556       1
\n494       1
\n332       1
58          1
Name: Hits, Length: 408, dtype: int64

In [47]:
excep = []
for val in df['Hits']:
    try:
        assert "\n" in val
    except:
        excep.append(val)
print(val)

2

7. The **W/F**, **SM** and **IR** columns are of type *str* with stars in values instead of *int*
8. The **Hits** column is of type *string* instead of *int*

In [28]:
#list(df.Nationality.value_counts().keys())

In [29]:
df.Positions.value_counts()

CB           2441
GK           2074
ST           1864
CDM CM        842
CM            795
             ...
CM CF RM        1
LWB RM LB       1
CM CDM LW       1
LW RM CM        1
LB LWB LW       1
Name: Positions, Length: 640, dtype: int64

In [30]:
df.BP.value_counts()

CB     3685
ST     2680
CAM    2299
GK     2075
RM     1611
CDM    1445
LB     1086
RB     1079
CM     1047
LM      871
RW      298
RWB     277
LWB     261
LW      186
CF       78
Name: BP, dtype: int64

In [31]:
df["↓OVA"].dtype

dtype('int64')

In [32]:
df.loc[:3, "Start_contract_date"]

0    2004
1    2018
2    2014
3    2015
Name: Start_contract_date, dtype: object